# This file lists the locations of the alphafold reference data
#<value=version>	<name>	<path>
#
# for instance 
#
#2.3.1	alphafold version 2.3.1.	/path/to/reference/version/2.3.1
#
# The value column (1st column) should contain the alphafold version number
# for which the reference data can be used. there should be only one line
# per installed alphafold version 
# This allows the tool to automatically select the single correct entry for the
# tool version and the user can't select a wrong entry.
